@font-face {
    font-family: "poppins-regular";
    src: url("@/public/assets/fonts/Poppins/poppins-regular.ttf");
    src: url("@/public/assets/fonts/Poppins/poppins-regular.ttf") format("truetype");
}
@font-face {
    font-family: "poppins-medium";
    src: url("@/public/assets/fonts/Poppins/poppins-semibold.ttf");
    src: url("@/public/assets/fonts/Poppins/poppins-semibold.ttf") format("truetype");
}
@font-face {
    font-family: "poppins-bold";
    src: url("@/public/assets/fonts/Poppins/poppins-bold.ttf");
    src: url("@/public/assets/fonts/Poppins/poppins-bold.ttf") format("truetype");
}