
.sectionTitle {
  font-size: .85em;
  display: flex;
  align-items: center;
  gap: .5em;
  width: 100%;
  position: relative;
  width: fit-content;
  padding: 0.2em .5em;
  border-radius: 1em;
  background: #ffffff;
  margin-top: 0.5em;
  color: var(--accent-color);
}

.sectionTitle::before {
  font-size: inherit;
  content: '';
  width: .5em;
  height: .5em;
  border-radius: 50%;
  background: var(--accent-color);
}
.introBody {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1em;
  align-items: flex-end;
}
.introBody .greetings {
  font-size: 1.1em;
  font-family: "poppins-medium";
  width: 100%;
  margin: 0.5em 0;
  margin-bottom: 0.2em;
  text-wrap: nowrap;
}
.introBody .description {
  width: 100%;
  font-size: .7em;
  padding: 1.2em;
  border-radius: 1em;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
.introBody .description .forLandscape {
  display: none;
}

.introButton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  width: 100%;
  margin: .5em 0;
  font-size: .9em;
}
.introButton button {
  display: flex;
  font-size: inherit;
  gap: .5em;
  padding: .3em 0;
  border-radius: 2em;
  background: #ffffff;
  color: #ffffff;
  box-shadow: 0em 0.1em .2em #00000056;
  justify-content: center;
  background: linear-gradient(to right, blue, rgb(170, 2, 100));
}
.introButton button:last-child {
  background: linear-gradient(to right, #4b4bff, #95c6e0);
}
.introButton button svg {
  height: 1em;
  width: auto;
}
.introBody .details {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.introBody .photo {
  width: 31.5vw;
  height: 31.5vw;
  aspect-ratio: 1/1;
  border: 0.1em solid #dfdfdf;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  padding: 6%;
  background: #ffffff;
}
.introBody .photo > div {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
}
.introBody .photo > div > img {
  width: 100%;
  height: 100%;
  transform: scale(1.05);
}
.aboutBody {
  background: #f0f0f0;
  margin: 1.2em 0;
  padding: 1.5em;
  width: 100%;
  font-size: 0.8em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  cursor: pointer;
}
.aboutBody > .item {
  display: flex;
}
.aboutBody > .item > .label {
  text-transform: capitalize;
  min-width: 6.5em;
  opacity: 0.7;
  font-family: "poppins-medium";
  color: #828282;
}
.aboutBody > .item:first-child > .data {
  color: blue;
}
.aboutBody > .item > .data {
  overflow-wrap: break-word;
  word-break: break-word;
  width: 100%;
}
.educationBody {
  width: 100%;
  font-size: 0.8em;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.educationBody > .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
  background: #f0f0f0;
}
.educationBody > .item.active:hover {
  filter: brightness(105%);
  transform: scale(1.01);
  box-shadow: 0.1em 0.1em 0.2em #0000002f;
  cursor: pointer;
}
.educationBody > .item > .logo {
  min-width: 3.5em;
  min-height: 3.5em;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: relative;
  border: 0.1em solid #9c9c9c;
}
.educationBody > .item > .logo > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.educationBody > .item > .name {
  display: flex;
  flex-direction: column;
  justify-self: left;
  width: 100%;
  font-size: 0.9em;
}
.educationBody > .item > .name > div:nth-child(2) {
  font-size: 0.8em;
  opacity: 0.5;
}
.educationBody > .item > .action {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
@media (orientation: landscape) {
  .introBody {
    padding: .5em 0;
    gap: 1.5em;
  }
  .introBody .photo {
    height: 11.5vw;
    width: 11.5vw;
  }
  .introBody .greetings {
    font-size: 1.2em;
  }
  .introBody .description {
    font-size: .8em;
    padding: 1em 2em;
    gap: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 0.2em;
  }
  .introBody .description .forLandscape {
    display: block;
  }
  .introButton {
    margin: 1em 0;
    gap: 1em;
    font-size: 0.75em;
  }
  .introButton button {
    padding: 0.7em 0;
  }
  .aboutBody {
    font-size: 0.7em;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 0.3em;
    padding: 1.5em;
  }
  .aboutBody:active {
    transform: scale(1.02);
  }
  .educationBody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .introBody .photo {
    width: 23vw;
    height: 23vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .introBody .photo {
    width: 15vw;
    height: 15vw;
  }
}
@media (min-aspect-ratio: 4/5) and (max-aspect-ratio: 5/4) and (orientation: portrait) {
  .introBody .photo {
    width: 23vw;
    height: 23vw;
  }
}
@media (min-aspect-ratio: 4/5) and (max-aspect-ratio: 5/4) and (orientation: landscape) {
  .introBody .photo {
    width: 13vw;
    height: 13vw;
  }
}